<h1 i18n="we love tacos with love as a heart emoji and tacos as two taco emoji|in the application name in the header">We ❤️ 🌮🌮!</h1>
<nav>
  <a [routerLink]="['/']" i18n="slang expression of desire to build a taco with taco as an emoji|navigation item to go to the taco builder">I want to build a 🌮!</a>
  <a [routerLink]="['/random']" i18n="slang with excited anticipation to get a taco with taco as an emoji|main navigation item to go to the random taco page">Just give me a 🌮!</a>
  <span i18n="we love sandwhiches with love as a heart emoji and sandwhiches as two emoji|navigation to the we love sandwiches feature">we ❤️ 🥪🥙!</span>
  <span i18n="we love pasta with love as a heart emoji and a pasta emoji|navigation to the we love pasta feature">we ❤️ 🍝!</span>
  <span i18n="we love smooties with love as a heart emoji and smoothies as two drink emoji|navigation to the we love smoothies feature">we ❤️ 🥤🥤!</span>
  <span i18n="we love salad with love as a heart emoji and salad as two emoji|navigation to the we love salad feature">we ❤️ 🥗🥗!</span>
</nav>
<router-outlet></router-outlet>
