<h1 i18n="we love tacos with love as a heart emoji and tacos as two taco emoji|in the application name in the header">We ❤️ 🌮🌮!</h1>
<nav>
  <a [routerLink]="['/']" i18n="informal expression of desire to build a taco with taco as an emoji|navigation item to go to the taco builder">I want to build a 🌮!</a>
  <a [routerLink]="['/random']" i18n="slang with excited anticipation to get a taco with taco as an emoji|main navigation item to go to the random taco page">Just give me a 🌮!</a>
</nav>
<span i18n="A brief definition of the target|context of the target is">the target</span>
<section>
  <h2 i18n="declaration of items that will be available soon|in the header section below the main nav">coming soon:</h2>
  <span>🥪🥙</span>
  <span>🍝</span>
  <span>🥤🥤</span>
  <span>🥗🥗</span>
</section>
<section>
  <span i18n="@@test">something here for a test</span>
  <span i18n="@@test">something here for a test</span>
</section>
<router-outlet></router-outlet>
